<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Encontro de front-end!</title>
</head>
<body data-ng-controller="mainCtrl">

	<!-- jQuery -->
	<h1>
		jQuery no angularJS
	</h1>
	<p class="mudar">
		Texto utilizando css por jQuery.
	</p>

	<!-- Repetir elementos de um objeto ou array -->
	<h1>
		data-ng-repeat
	</h1>
	<div data-ng-repeat="item in obj">
		{{item}}
	</div>

	<!-- Click -->
	<h1>
		data-ng-click
	</h1>
	<button data-ng-click="nomeDaFuncao()">
		Botão
	</button>

	<!-- Filtro -->
	<h1>
		filter e data-ng-bind
	</h1>
	<p data-ng-bind="texto | uppercase"></p>

	<!-- Show -->
	<h1>
		data-ng-show
	</h1>
	<p data-ng-show="condicaoMostra">
		Mostra
	</p>

	<!-- Esconde -->
	<!-- Não irá aparecer nada na view, pois o texto está oculto -->
	<h1>
		data-ng-hide
	</h1>
	<p data-ng-hide="condicaoEsconde">
		Esconde
	</p>

	<!-- Two-way data bind -->
	<h1>
		data-ng-bind e interpolação
	</h1>
	<input type="text" data-ng-model="queLegal" />
	{{queLegal}}

	<!-- Custom directive -->
	<h1>
		Custom directive
	</h1>
	<!-- Observem que aqui está com hífen e na controller é camelCase. Isso é do angularJS -->
	<front-end></front-end>

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>

	<script type="text/javascript">
		var app = angular.module('app',[]);
		app.controller('mainCtrl', ['$scope', function($scope){

			// jQuery no angularJS.
			angular.element('.mudar').css('color','#0000ff');

			$scope.obj = [1,2]
			var count = 3;

			$scope.texto = 'esse é um texto comum.';

			$scope.nomeDaFuncao = function() {
				$scope.obj.push(count);
				count++;
			}

			$scope.condicaoMostra = true;

			$scope.condicaoEsconde = true;


		}]);

		app.directive('frontEnd', [function(){
			return {
				restrict: 'E',
				template: '<p>Esse texto veio de um custom directive.</p>',
				replace: true
			};
		}]);
	</script>
</body>
</html>
